<h1 class="h4">Generated Image</h1>

<% if current_request.images.any? %>
<div class="row my-5">
  <% current_request.images.each do |image| %>
    <div class="img-responsive col-12 col-md-6">
      <%= render_generated_image(image) %>
    </div>
  <% end -%>
</div>
<% end -%>

<%= render "ai/image_requests/form" %>

<% if current_request %>
<div class="mt-5 card card-body bg-light">
  <pre><%= JSON.pretty_generate current_request.query %></pre>
  <pre><%= JSON.pretty_generate current_request.response %></pre>
</div>
<% end -%>
